<!DOCTYPE html>
<html ng-app="crudApp">

<head>
  <!-- Custom styles for this template -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/assets/theme/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link href="/assets/theme/dashboard.css" rel="stylesheet">
  <link href='assets/css/terminator.css' rel='stylesheet' />
  <link href='assets/css/fullcalendar.css' rel='stylesheet' />
  <link href='assets/css/fullcalendar.print.css' rel='stylesheet' media='print' />
  <link href='assets/css/bootstrap-material-datetimepicker.css' rel='stylesheet' />
  <script src="/assets/theme/ie-emulation-modes-warning.js"></script>
  <script src='assets/js/moment.min.js'></script>
  <script src='assets/js/jquery.min.js'></script>
  <script src='assets/js/jquery-ui.min.js'></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/bootstrap-colorpicker.min.js"></script>
  <script src='assets/js/fullcalendar.js'></script>
  <script src='assets/js/locale-all.js'></script>
  <script src="assets/js/list.js"></script>
  <script src="assets/js/bootstrapx-clickover.js"></script>
  <script src="assets/js/bootstrap-material-datetimepicker.js"></script>
  <script src="assets/js/touch-punch.js"></script>
  <script src="assets/js/angular-script.js"></script>
  <script src="assets/js/terminator.js"></script>
  <script src="assets/js/draw-calendar.js"></script>


</head>

<body>
<div id="mobile-indicator"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 brand">
        <div id="menu-toggle" class="head-menu"><span class="glyphicon glyphicon-menu-hamburger menu-icon" aria-hidden="true"></span></div>
        <div id="head-brand-toggle" class="head-brand">
        </div>
      </div>
      <div class="col-sm-9 col-md-10 nav">
        <div class="user-menu">
          <div id="user-detail" class="user-menu-detail"></div>
          <div class="user-menu-av" id="popover-av" data-placement="bottom"></div>
        </div>
        <div class="timer"><p id="timer" class="timer_p"></p></div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="sidebar-menu">
    <div id="clients-toggle" class="menu-in mclients">
      <span class="glyphicon glyphicon-user menu-icon" aria-hidden="true"></span>
    </div>
    <div id="ctime-toggle" class="menu-in mwait">
        <span class="glyphicon glyphicon-time menu-icon" aria-hidden="true"></span>
    </div>
    <div id="terms-toggle" class="menu-in mterms">
      <span class="glyphicon glyphicon-calendar menu-icon" aria-hidden="true" onclick="termlist();"></span>
    </div>
    <div id="tokcircle-toggle" class="menu-in mfterms" onclick="seefree();">
        <span class="glyphicon glyphicon-ok-circle menu-icon" aria-hidden="true"></span>
    </div>
    <div onclick="seeTheHistory();" id="cards-toggle" class="menu-in mcards">
      <span class="glyphicon glyphicon-list-alt menu-icon" aria-hidden="true"></span>
    </div>
    <div id="options-toggle" style="position:absolute; bottom: 0.2em;" class="menu-in moptions">
      <span class="glyphicon glyphicon-cog menu-icon" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row" id="terminator">
    <div id="sidebar-toggle" class="col-sm-3 col-md-2 sidebar">
      <div id='external-events'>
        <div id="clients">
          <div class="menu-title">Klienci</div>
          <input class="search form-control serach-sidebar dashsearch" placeholder="Wyszukaj" />
            <div id="lista" class="list"></div>
          <input type="button" class="btn btn-default dashbutton" name="addClient" onclick="MaddClient();" value="Dodaj Klienta"/>
          <div id="wait">
            <p class="wait_p">Dodaj do oczekujacych</p>
          </div>
        </div>
      </div>
      <div id='external-events-wait'>
      <div id="ctime">
        <div class="menu-title">Klienci oczekujący</div>
          <div>
            <input class="search form-control serach-sidebar dashsearch" placeholder="Wyszukaj" />
             <div id="listaw" class="list"></div>
            <div id="wait_delete">
              <p class="wait_p">Usuń z listy oczekujących</p>
            </div>
        </div>
      </div>
      </div>
      <div id="terms">
        <div class="menu-title">Terminarze</div>
        <input class="search form-control serach-sidebar dashsearch" placeholder="Wyszukaj" />
        <div id="termlist" ></div>
        <input type="button" class="btn btn-default dashbutton" name="addTerm" onclick="addTerm();" value="Dodaj Terminarz"/>
      </div>
      <div id="tokcircle">
        <div class="menu-title">Wolne terminy</div>
        <div id="icanfly"></div>
      </div>
      <div id="cards">
        <div class="menu-title">Karty klientów</div>
        <input type='hidden' id='cardsOfHistoryBU' value=''/>
        <input class="search form-control serach-sidebar dashsearch" placeholder="Wyszukaj" />
          <div id="cardsb" class="list"></div>
      </div>
      <div id="options">
        <div class="menu-title">Opcje</div>
        <input type="button" class="btn btn-danger dashbutton" name="sHours" onclick="setHours()" value="Godziny pracy"/>
        <input type="button" class="btn btn-danger dashbutton" name="newUser" onclick="newUser()" value="Dodaj pracownika"/>
        <input type="button" class="btn btn-danger dashbutton" name="sDef" onclick="setDefaults()" value="Opcje powiadomień"/>
        <!-- <input type="button" class="btn btn-danger dashbutton" name="TeNoHistorie" onclick="seeTheHistory()" value="Historie klientów"/> -->
      </div>
    </div>
  </div>
  <div id="main-toggle" class="col-sm-9 col-md-10 main">
    <div id='calendar'></div>
  </div>
</div>

<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edycja wydarzenia</h4>
      </div>
      <div class="modal-body" id="eventChange"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default round" data-dismiss="modal" id="sawe" onclick="save();">Zapisz wydarzenie</button>
      </div>
    </div>
  </div>
</div>

<div id="defaults" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edycja domyślnych opcji powiadomień</h4>
      </div>
      <div class="modal-body" id="setDefaults"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="saveDefaults" onclick="saveDefaults();">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<div id="modalWH" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Godziny pracy</h4>
      </div>
      <div class="modal-body" id="workHours"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="shours" onclick="saveHours();">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<div id="MaddClient" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dodaj klienta</h4>
      </div>
      <div class="modal-body" ng-controller="DbController">
        <form class="form-horizontal alert alert-warning" name="empList" id="empForm" ng-submit="addClient(empInfo);">
          <div class="form-group">
      		  <label for="Imie">Imie:</label>
      		  <input type="text" name="emp_fname" class="form-control" placeholder="Wpisz Imię" ng-model="empInfo.fname" autofocus required />
      	  </div>
      	  <div class="form-group">
            <p class="text-danger" ng-show="empList.emp_fname.$invalid && empList.emp_fname.$dirty">Błąd</p>
          </div>
          <div class="form-group">
            <label for="Nazwisko">Nazwisko:</label>
            <input type="text" name="emp_lname" class="form-control" placeholder="Wpisz Nazwisko" ng-model="empInfo.lname" autofocus required />
          </div>
          <div class="form-group">
            <p class="text-danger" ng-show="empList.emp_lname.$invalid && empList.emp_lname.$dirty">Błąd</p>
          </div>
          <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" name="emp_email" class="form-control" placeholder="Wpisz email" ng-model="empInfo.email" autofocus />
          </div>
          <div class="form-group">
            <p class="text-danger" ng-show="empList.emp_email.$invalid && empList.emp_email.$dirty">Błąd</p>
          </div>
          <div class="form-group">
            <label for="Phone">Telefon:</label>
            <input type="text" name="emp_phone" class="form-control" placeholder="Wpisz numer" ng-model="empInfo.phone" autofocus />
          </div>
          <div class="form-group">
            <p class="text-danger" ng-show="empList.emp_phone.$invalid && empList.emp_phone.$dirty">Błąd</p>
          </div>
          <div class="form-group">
            <button class="btn btn-warning" ng-disabled="empList.$invalid" onclick="MaddClientClose();">Dodaj</button>
          </div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<div id="addTerm" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dodaj Terminarz</h4>
      </div>
      <div class="modal-body" ng-controller="DbController">
        <form class="form-horizontal alert alert-warning" name="termList" id="termForm" ng-submit="addTerm(termInfo);">
          <div class="form-group">
      		  <label for="Nazwa">Nazwa:</label>
      		  <input type="text" name="term_name" class="form-control" placeholder="Wpisz Nazwę" ng-model="termInfo.name" autofocus required />
      	  </div>
      	  <div class="form-group">
            <p class="text-danger" ng-show="termList.term_name.$invalid && termList.terem_name.$dirty">Błąd</p>
          </div>
          <div class="form-group">
            <label for="Kolor">Kolor:</label>
            <div id="cp11" class="input-group colorpicker-component">
                <input type="text" value="#00AABB" name="term_color" class="form-control" placeholder="Wybierz Kolor" ng-model="termInfo.color" autofocus required /><span class="input-group-addon"><i></i></span>
            </div>
          </div>
          <div class="form-group">
            <p class="text-danger" ng-show="termList.term_color.$invalid && termList.term_color.$dirty">Błąd</p>
          </div>
          <div class="form-group">
            <div class="form-group">
                <label for="Dostęp">Dostęp:</label>
                <select multiple name="term_access" class="form-control" ng-model="termInfo.access" id="term_access">
                </select>
            </div>
          </div>
          <div class="form-group">
            <p class="text-danger" ng-show="termList.term_email.$invalid && termList.term_email.$dirty">Błąd</p>
          </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
            <button class="btn btn-warning" ng-disabled="termList.$invalid" onclick="termaddClose();">Dodaj</button>
          </div>
        </form>
        </div>
        <script>
        $(function() {
            $('#cp11').colorpicker();
        });
    </script>
    </div>
  </div>
</div>

<div id="modalNewUser" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"  ng-controller="DbController">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dodaj pracownika</h4>
      </div>
      <div class="modal-body">
          <div>
  <form class="form-horizontal alert" name="empList" id="empForm" ng-submit="insertInfo(empInfo);">
    <div class="form-group">
      <label for="Imie">Imie:</label>
      <input type="text" name="emp_fname" class="form-control" placeholder="Wpisz Imię" ng-model="empInfo.fname" autofocus required />
    </div>
    <div class="form-group">
      <p class="text-danger" ng-show="empList.emp_fname.$invalid && empList.emp_fname.$dirty">Błąd</p>
    </div>
    <div class="form-group">
      <label for="Nazwisko">Nazwisko:</label>
      <input type="text" name="emp_lname" class="form-control" placeholder="Wpisz Nazwisko" ng-model="empInfo.lname" autofocus required />
    </div>
    <div class="form-group">
      <p class="text-danger" ng-show="empList.emp_lname.$invalid && empList.emp_lname.$dirty">Błąd</p>
    </div>
    <div class="form-group">
      <label for="Login">Login:</label>
      <input type="text" name="emp_login" class="form-control" placeholder="Wpisz login" ng-model="empInfo.login" autofocus required />
    </div>
    <div class="form-group">
      <p class="text-danger" ng-show="empList.emp_login.$invalid && empList.emp_login.$dirty">Błąd</p>
    </div>
    <div class="form-group">
      <label for="Pass">Hasło:</label>
      <input type="password" name="emp_pass" class="form-control" placeholder="Wpisz hasło" ng-model="empInfo.pass" autofocus required />
    </div>
    <div class="form-group">
      <p class="text-danger" ng-show="empList.emp_pass.$invalid && empList.emp_pass.$dirty">Błąd</p>
    </div>
    <div class="form-group">
      <label for="Email">Email:</label>
      <input type="email" name="emp_email" class="form-control" placeholder="Wpisz email" ng-model="empInfo.email" autofocus required />
    </div>
    <div class="form-group">
      <p class="text-danger" ng-show="empList.emp_email.$invalid && empList.emp_email.$dirty">Błąd</p>
    </div>
    <div class="form-group">
      <label for="Phone">Telefon:</label>
      <input type="text" name="emp_phone" class="form-control" placeholder="Wpisz numer" ng-model="empInfo.phone" autofocus required />
    </div>
    <div class="form-group">
      <p class="text-danger" ng-show="empList.emp_phone.$invalid && empList.emp_phone.$dirty">Błąd</p>
    </div>
      <div class="form-group">
          <label for="Access">Terminarze:</label>
            <select multiple name="emp_access" class="form-control" ng-model="empInfo.access" id="newusercontent">
            </select>
      </div>

    </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button class="btn btn-warning" ng-disabled="empList.$invalid">Dodaj</button>
        </div>
      </div>
        </form>
    </div>
  </div>
</div>

<div id="popover-av-content" class="hidden">
  <div class="popover-av-content-in">
      <div class="popover-av-content-in-in"><div class="popover-av-av"></div><p id="popover-detail" class="popover-av-p"></p></div>
      <div class="popover-button-av av left-av" onclick=""><p class="popover_p">Edycja konta</p></div>
      <div class="popover-button-av av right-av" onclick="logOut()"><p class="popover_p">Wyloguj się</p></div>
  </div>
</div>

<div id="KKK" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="">&times;</button>
        <div class="material-switch pull-right"><br>
          Tryb edycji
          <input id="editMode" name="editMode" type="checkbox" onchange="editMode();">
          <label for="editMode" class="label-success"></label>
        </div>
        <h4 class="modal-title">Karty klientów</h4>
      </div>
      <div class="modal-body" id="ShowMeYourCards">
        <div id="editMocno" style="display: none;">
          imię:<br>
          <input type="text" class="form-control" value="" id="cardFName" disabled/><br>
          Nazwisko:<br>
          <input type="text" class="form-control" value="" id="cardLName" disabled/><br>
        </div>
        <div id="editSuabo">
          Imię i Nazwisko:<br>
          <input type="text" class="form-control" value="" id="cardName" disabled/><br>
        </div>
        e-mail:<br>
        <input type="text" class="form-control" value="" id="cardEmail" disabled/><br>
        Numer telefonu:<br>
        <input type="text" class="form-control" value="" id="cardTel" disabled/><br>
        Adres:<br>
        <input type="text" class="form-control" value="" id="cardAdres" disabled/><br>
        <input type="hidden" id="cardId" value=""/>
        <input type="hidden" id="KASUJ" class="btn btn-danger" value="Skasuj klienta" onclick="cDel();"/>
        <input type="hidden" id="ZAPISZ" class="btn btn-success" value="Zapisz zmiany" onclick="cSave();"/>
        <div id="historyTable">
          <table id="cardHistory" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Data</th>
                <th>Usługa</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

</body>
</html>
