/*
 * Base structure
 */

body{
    background: #ecf0f1;
}

	#wrap {
		width: 1100px;
		margin: 0 auto;
	}

	#external-events {
		float: left;
                width:100%;
		background: #293A4B;
		text-align: left;
	}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}

	#external-events .fc-event {
		cursor: pointer;
                position: fixed;
                width: 9.8%;
                margin: 0px; 
                border: 2px solid #3a87ad; 
                line-height: 2; 
                font-size: 12px;
	}
        
        #external-events .btn-xs {
                position: fixed;
                line-height: 2; 
                border: 1px solid #3a87ad; 
                font-size: 12px;
	}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #3498db;
	}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
                margin-top: 22px;
		float: left;
                max-height: 700px;
                border-radius: 7px 7px 7px 7px;
                background: whitesmoke;
                box-shadow: 0px 0px 72px -15px rgba(0,0,0,0.78);
	}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  padding-left: 0px;
}

.events {
  height: 28px;
}

.serach-sidebar {
  width: 100%;
}

.brand {
  padding-left: 0px; 
  padding-right: 0px;
  background: #3498db
}
.nav {
  height:80px; 
  background: #3498db;
}
@media (min-width: 768px) {
.head-menu {
    width:15%;
    height:80px;
    float: left;
}
.head-brand{
    height:80px;
    background-color: #2980b9;
    width: 85%;
    float: left;
}
.sidebar-menu {
    position: fixed;
    width: 2.4999999%;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #293A4B;
    padding-left: 0px;
    padding-right: 0px;
}
  .sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 2.499999%;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #293A4B;
    width: 14.1666666%;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
.brandlogo {
    display: block;
    margin: auto;
}
.main {
  padding: 20px;
  float: right;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    top: 80px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
