@font-face {
    font-family: montserratR;
    src: url(Montserrat-Regular.otf);
}
@font-face {
    font-family: montserratT;
    src: url(Montserrat-Thin.otf);
}

body{
    background: #ecf0f1;
}

	#wrap {
		width: 1100px;
		margin: 0 auto;
	}

	#external-events {
		float: left;
                width:100%;
		background: #293A4B;
		text-align: left;
	}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}

	#external-events .fc-event {
		cursor: pointer;
                position: fixed;
                width: 9.8%;
                margin: 0px; 
                border: 2px solid #3a87ad; 
                line-height: 2; 
                font-size: 12px;
	}
        
        #external-events .btn-xs {
                position: fixed;
                line-height: 2; 
                border: 1px solid #3a87ad; 
                font-size: 12px;
	}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #3498db;
	}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
                margin-top: 22px;
		float: left;
                max-height: 700px;
                border-radius: 7px 7px 7px 7px;
                background: whitesmoke;
                box-shadow: 0px 0px 72px -15px rgba(0,0,0,0.78);
	}

/*
 * Global add-ons
 */
.popover{
        width: 20%;
    border-radius: 3px;
    background-color: #0f5684;
        border-radius: 6px;
        display: table !important;
}
.popover-av-p{
    text-align: center;
    width: 90%;
    color: white;
    font-family: montserratR;
    margin-top: 0.8em;
    font-size: 1.1em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-75%);
}
.popover-av-content-in{
    height: 240px;
    background: rgba(15,85,132,1);
    background: -moz-linear-gradient(-60deg, rgba(15,85,132,1) 0%, rgba(20,126,207,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(15,85,132,1)), color-stop(100%, rgba(20,126,207,1)));
    background: -webkit-linear-gradient(-60deg, rgba(15,85,132,1) 0%, rgba(20,126,207,1) 100%);
    background: -o-linear-gradient(-60deg, rgba(15,85,132,1) 0%, rgba(20,126,207,1) 100%);
    background: -ms-linear-gradient(-60deg, rgba(15,85,132,1) 0%, rgba(20,126,207,1) 100%);
    background: linear-gradient(60deg, rgba(15,85,132,1) 0%, rgba(20,126,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f5584', endColorstr='#147ecf', GradientType=1 );
}
.popover-event-content-in{
    height: 150px;
    width: 400px;
}
.popover-event-p{
    text-align: center;
    width: 90%;
    color: white;
    font-family: montserratR;
    margin-top: 0.8em;
    font-size: 1.1em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-75%);
}
.popover-content{
    padding: 0;
}
.popover-av-content-in-in{
    height: 140px;
}
.popover-event-content-in-in{
    height: 140px;
}
.popover-av-av{
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(/assets/img/testav.png) no-repeat;
    background-size: cover;
    float: left;
    border-radius: 50%;
    position: relative;
}
.popover.bottom .arrow:after {
  border-bottom-color: #0f5684;
}
.popover.top .arrow:after {
  border-top-color: #0f5684;
}
.popover-button{
    position: absolute;
    bottom: 0px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.event{
    height: 25%;
}
.av{
    height: 15%;
}
.left{
    left: 0; 
    background-color: #3498db;
    border-radius: 0px 0px 0px 4px;
}
.right{
    right: 0;
    background-color: #db3434;
    border-radius: 0px 0px 4px 0px;
}
.popover_p{
    color: white;
    font-family: montserratR;
    margin-top: 0.8em;
    font-size: 0.8em;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  padding-left: 0px;
}
.menu-icon{
    font-size: 20px;
    color: whitesmoke;
    line-height: 4;
}
.menu-in{
    height:80px;
    width:100%;
    float: left;
    text-align: center;
    cursor: pointer;
}
.menu-in:hover{
    background: #17436e;
    cursor: pointer;
}
.events {
  height: 28px;
}

.serach-sidebar {
  width: 100%;
}
.hidden{
    animation: disapear 1s;
}
.togglemain{
    margin-left: 2.8%;
    margin-right: 2.7%;
    width: 92%;
}
.chosen{
    border-right: 2px solid #2f91d1
}
#termlist{
    margin-top: 15px;
}
.termlist_in{
    margin-bottom: 10px;
    height: 28px;
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    cursor: pointer;
    padding: 2px;
    text-align: -webkit-center;
    font-size: 1vw;
    color: white;
    text-shadow: 1px 1px #949494;
}
.brand {
  padding-left: 0px; 
  padding-right: 0px;
  background: #3498db
}
.nav {
  height:80px; 
  background: #3498db;
  padding-right: 0px;
}
@media (min-width: 768px) {
td.fc-today span{
    display: block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgb(52, 152, 219);
    text-align: -webkit-center;
    color: aliceblue;
    margin: 2px;
}
.user-menu {
    width:20%;
    height:100%;
    float: right;
    text-align: center;
    padding-right: 2.5%;
}
.user-menu-av{
width: 17%;
    height: 0;
    padding-bottom: 17%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #4679BD;
    float: left;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: url(/assets/img/testav.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}
.user-menu-detail{
    height: 50px;
    width: 80%;
    float: left;
    border-radius: 200px 200px 200px 200px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 2%;
}
.user-detail{
    font-size: 100%;
    margin: 0px;
    color: white;
    text-align: end;
}
.flname{
    font-family: montserratR; 
}
.usrname{
    font-family: montserratT;
    font-weight: bold;
}
.head-menu {
    width:15%;
    height:80px;
    float: left;
    background-color: #0f5684;
    text-align: center;
    cursor: pointer;
}
.head-menu:hover{
    background: #2f79a9;
    cursor: pointer;
}
.head-brand{
    height:80px;
    background-color: #2980b9;
    width: 85%;
    float: left;
    cursor: pointer;
}
.sidebar-menu {
    position: fixed;
    width: 2.4999999%;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background: #082440;
    padding: 0px;
}
  .sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 2.499999%;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #293A4B;
    width: 14.1666666%;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
.brandlogo {
    display: block;
    margin: auto;
}
.main {
  padding: 20px;
  float: right;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    top: 80px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
